html,body {
	height: 100%;
}

.main-panel {
	margin: auto;
	width: 1000px;
	overflow: hidden;
}

.panel {
	margin: 1%;
}

.left-panel {
	float: left;
	width: 33%;
}

.right-panel {
	float: right;
	width: 63%;
}

.left-panel,.right-panel,.long-panel {
	padding: 1px;
	height: 100%;
	overflow: hidden;
}

.margin-auto {
	margin: auto;
}

.display-block {
	display: block;
}

.display-inline-block {
	display: inline-block !important;
}

.margin-top-10 {
	margin-top: 10px;
}

.panel-content {
	width: 100%;
}

.results-list {
	width: 100%;
}

.long-panel {
	width: 98%;
}

.width-100-pc {
	width: 100%;
}

.text-align-center {
	text-align: center;
}

label.col-md-4 {
	width: 100px;
}

.text-align-center {
	text-align: center;
}

.fit-cell-to-content {
	width: 1%;
	white-space: nowrap;
}

.float-left {
	float: left;
}

.width-70pc {
	width: 70%;
}

.margin-left-10 {
	margin-left: 10px;
}

.width-200 {
	width: 200px !important;
}

.overflow-hidden {
	overflow: hidden;
}

.padding-top-10 {
	padding-top: 10px;
}

.margin-right-10 {
	margin-right: 10px;
}

.margin-left-115 {
	margin-left: 115px;
}

.photo-remove-button {
	position: relative;
	top: -45px;
	left: -25px;
}